# Core packages
numpy
pandas

# Deep learning frameworks
tensorflow==2.12.0


# Face recognition
deepface==0.0.95

# OpenCV (headless for server / Streamlit deployment)
opencv-python-headless

# Streamlit
streamlit
